@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
*

.App {
  text-align: center;
}
h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
.navbar-brand, .nav-item{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
.nav-link{
  color: black;
  font-weight: bolder;
}
.nav-link:hover{
  color: white;
  background-color: black;
}
.linkColor{
  color: black;
  font-weight: bolder;

}
.linkColor:hover{
  color: white;
  background-color: black;
}
.btn{
  color: black;
}
.btn:hover{
  color: grey;
  background-color: black;
}
.project-card{
  border-style: solid;
margin-left: 20px;
margin-top: 40px;
}
.about-body{
  margin-top: 50px;
}
.label{
  margin-left: 70px;
}
